*{
    margin: 0;
    padding: 0;
}
.canvas{
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    border: 1px solid black;
    display: block;
}