*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

#game{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
    display: block;
}
#boton{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
#boton:hover{
    background-color: rgb(22, 180, 182);
    transition: all .3s;
}

#nave{
    display: none;
}
.aliens{
    display: none;
}
.bullet{
    display: none;
   
}
.rotatePos{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.rotateNeg{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}