*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

#game{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 600px;
    margin: 20px auto;
    border: 1px solid black;
    display: block;
}

#nave{
    display: none;
}
.aliens{
    display: none;
}
.bullet{
    display: none;
}